body {
  font-family: gill sans nova light;
  font-size: 16px;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  opacity: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
}

.clear {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.center {
  text-align: center;
}

header {
  background: url("img/arkaplan.jpg");
  background-color: black;
  opacity: 0.8;
  height: 400px;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.textbaslik {
  text-align: center;
  color: #fff;
  padding-top: 80px;
}

h1 {
  font-size: 90px;
  color: #143f6b;
  text-shadow: 2px 4px 12px black;
  text-decoration: none;
}

h2 {
  font-size: 50px;
  color: #143f6b;
}
nav {
  text-align: center;
  background: #764af1;
  font-size: 120%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul a {
  color: #ddd3d6;
}

nav ul > a:hover {
  font-weight: bold;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 7px;
  border-top: 2px solid #3f5039;
  border-bottom: 2px solid #3f5039;
}

nav li:hover {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

/*----------------*/
#anasayfam {
  height: 600px;
  background-image: url("img/water.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#black {
  height: 600px;
  background-color: black;
  opacity: 0.6;
}

#icerigi {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  top: 700px;
}

#hakkimizda {
  background-color: #f6e7d8;
  padding: 50px;
  text-align: center;
  /*text-transform: capitalize;*/
  font-weight: 600;
}

h3 {
  font-size: 55px;
  color: #c65d7b;
  text-shadow: 0px 1px 1px black;
  font-weight: 600;
}

.container {
  width: 1200px;
  height: auto;
  margin: auto;
}

#sol {
  float: left;
  border-right: 3px solid #445c6e;
  font-size: 30px;
  width: 400px;
  color: #445c6e;
}

#h5sol {
  line-height: 1.6;
  font-size: 22px;
  font-weight: 600;
}

#h5sol,
#sag {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

span {
  font-size: 50px;
  margin-right: 7px;
  line-height: 42px;
  color: #445c6e;
  font-weight: 600;
  float: left;
}

#sag {
  float: right;
  width: 650px;
  color: #4700d8;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 100;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mt100 {
  margin-top: 100px;
}

#porta {
  color: #711a75;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 100;
}

#pson {
  color: #f10086;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 100;
}

/*footer*/
footer {
  position: fixed;
  left: 0px;
  width: 100%;
  /*background-image: url(img/gri.jpg); */
  bottom: 0;
  text-align: center;
  color: #ffeeee;
  background: #764af1;
}

#demo {
  text-align: center;
  background-color: #947ec3;
}
